.vercel
# Python bytecode files
*.pyc
__pycache__/

*.pyc
*.pyo
*.pyc
__pycache__/

db.sqlite3
__pycache__/

backend/api/__pycache__

# Django-specific files
*.log
*.pot
*.pyc
media/
static/
staticfiles/

# Virtual Environment
venv/
env/
.venv/
.ENV/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# mypy
.mypy_cache/

# Coverage reports
.coverage
.coverage.*
nosetests.xml
*.cover

# pytest
.cache/
.pytest_cache/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables and sensitive info
.env
.env.*

# Local Django settings
local_settings.py
