# Ignore Vercel files
.vercel/

# Python bytecode files
*.pyc
__pycache__/

# Django migrations (ignore all migrations, including those inside app directories)
migrations/
**/migrations/
.terraform/
.terraform.lock.hcl
# SQLite database

# Django-specific files
*.log
*.pot
*.pyc
media/
static/
staticfiles/

terraform.tfstate

# Virtual Environment
venv/
env/
.venv/
.ENV/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# mypy
.mypy_cache/

# Coverage reports
.coverage
.coverage.*
nosetests.xml
*.cover

# pytest
.cache/
.pytest_cache/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints


# Local Django settings
local_settings.py
